includes:
  - phpstan-baseline.neon

parameters:
  level: 0
  paths:
    - joomla/administrator/components
    - joomla/components
    - joomla/libraries
    - joomla/modules
    - joomla/plugins
    - magento
  excludePaths:
    - joomla/plugins/community/magebridge/magebridge.php
    - joomla/plugins/system/magebridge/overrides
    - joomla/plugins/system/magebridget3
    - magento/app/etc
  scanFiles:
    - vendor/akunzai/joomla-stubs/joomla-stubs.php
    - vendor/openmage/magento-lts/app/Mage.php
  scanDirectories:
    - vendor/joomla/joomla-cms/administrator
    - vendor/joomla/joomla-cms/components
    - vendor/joomla/joomla-cms/includes
    - vendor/joomla/joomla-cms/libraries
    - vendor/joomla/joomla-cms/modules
    - vendor/joomla/joomla-cms/plugins
    - vendor/openmage/magento-lts/lib
    - vendor/openmage/magento-lts/app/code
  tmpDir: tmp
  ignoreErrors:
    - '#Call to an undefined static method Joomla\\CMS\\Language\\Text::_\(\).#'
    - '#Access to protected property \$this\(MageBridgeController\)::\$app.#'
