parameters:
  level: 5
  paths:
    - joomla
    - magento
  excludePaths:
      analyse: 
        - joomla/components/com_magebridge/vendor
  scanDirectories:
    - vendor/joomla/joomla-cms/administrator
    - vendor/joomla/joomla-cms/components
    - vendor/joomla/joomla-cms/includes
    - vendor/joomla/joomla-cms/libraries
    - vendor/joomla/joomla-cms/modules
    - vendor/joomla/joomla-cms/plugins
    - vendor/openmage/magento-lts/lib
    - vendor/openmage/magento-lts/app/code
  scanFiles:
    - vendor/joomla/joomla-cms/libraries/bootstrap.php
    - vendor/joomla/joomla-cms/libraries/src/Language/Text.php
    - vendor/joomla/joomla-cms/libraries/vendor/joomla/filesystem/src/Folder.php
    - vendor/openmage/magento-lts/app/Mage.php
  tmpDir: tmp
  treatPhpDocTypesAsCertain: false
  tips:
    discoveringSymbols: false
