parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$pagination\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/element/tmpl/category.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$pagination\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/element/tmpl/customer.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$pagination\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/element/tmpl/product.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$pagination\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/element/tmpl/widget.php

		-
			message: "#^Call to an undefined method MageBridgeViewRoot\\:\\:build\\(\\)\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/root/view.raw.php

		-
			message: "#^Call to an undefined method MageBridgeViewRoot\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/administrator/components/com_magebridge/views/root/view.raw.php

		-
			message: "#^Call to an undefined static method Joomla\\\\Filesystem\\\\File\\:\\:upload\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/helpers/proxy.php

		-
			message: "#^Function shAddSefURLToCache not found\\.$#"
			count: 1
			path: joomla/components/com_magebridge/helpers/url.php

		-
			message: "#^Function shGetNonSefURLFromCache not found\\.$#"
			count: 1
			path: joomla/components/com_magebridge/helpers/url.php

		-
			message: "#^Call to an undefined static method Joomla\\\\Filesystem\\\\Folder\\:\\:create\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/models/cache.php

		-
			message: "#^Instantiated class Joomla\\\\CMS\\\\Crypt\\\\Key not found\\.$#"
			count: 1
			path: joomla/components/com_magebridge/models/proxy.php

		-
			message: "#^Call to static method sefGetLocation\\(\\) on an unknown class sef_404\\.$#"
			count: 1
			path: joomla/components/com_magebridge/sef_ext/com_magebridge.php

		-
			message: "#^Call to static method shGetConfig\\(\\) on an unknown class shRouter\\.$#"
			count: 1
			path: joomla/components/com_magebridge/sef_ext/com_magebridge.php

		-
			message: "#^Function shGetComponentPrefix not found\\.$#"
			count: 1
			path: joomla/components/com_magebridge/sef_ext/com_magebridge.php

		-
			message: "#^Access to private property \\$app of parent class YireoCommonView\\.$#"
			count: 1
			path: joomla/components/com_magebridge/view.php

		-
			message: "#^Access to private property \\$db of parent class YireoCommonView\\.$#"
			count: 1
			path: joomla/components/com_magebridge/view.php

		-
			message: "#^Access to private property \\$doc of parent class YireoCommonView\\.$#"
			count: 1
			path: joomla/components/com_magebridge/view.php

		-
			message: "#^Access to private property \\$input of parent class YireoCommonView\\.$#"
			count: 1
			path: joomla/components/com_magebridge/view.php

		-
			message: "#^Access to private property \\$user of parent class YireoCommonView\\.$#"
			count: 1
			path: joomla/components/com_magebridge/view.php

		-
			message: "#^Call to an undefined method MageBridgeViewCatalog\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/catalog/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewCatalog\\:\\:setRequest\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/catalog/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewCms\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/cms/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewCms\\:\\:setRequest\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/cms/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewContent\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/content/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewContent\\:\\:setRequest\\(\\)\\.$#"
			count: 2
			path: joomla/components/com_magebridge/views/content/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewCustom\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/custom/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewCustom\\:\\:setRequest\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/custom/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewOffline\\:\\:getOfflineMessage\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/offline/view.html.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$content_class\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/root/tmpl/default.php

		-
			message: "#^Access to an undefined property MageBridgeViewRoot\\:\\:\\$content_class\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/root/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewRoot\\:\\:build\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/root/view.html.php

		-
			message: "#^Call to an undefined method MageBridgeViewRoot\\:\\:setBlock\\(\\)\\.$#"
			count: 1
			path: joomla/components/com_magebridge/views/root/view.html.php

		-
			message: "#^Call to an undefined static method Joomla\\\\Filesystem\\\\File\\:\\:write\\(\\)\\.$#"
			count: 1
			path: joomla/libraries/yireo/helper/install.php

		-
			message: "#^Call to an undefined method object\\:\\:checkbox\\(\\)\\.$#"
			count: 1
			path: joomla/libraries/yireo/view/list/default.php

		-
			message: "#^Call to an undefined method object\\:\\:getImageTag\\(\\)\\.$#"
			count: 2
			path: joomla/libraries/yireo/view/list/default.php

		-
			message: "#^Call to an undefined method object\\:\\:getModel\\(\\)\\.$#"
			count: 1
			path: joomla/libraries/yireo/view/list/default.php

		-
			message: "#^Call to an undefined method object\\:\\:loadTemplate\\(\\)\\.$#"
			count: 1
			path: joomla/libraries/yireo/view/list/default.php

		-
			message: "#^Call to an undefined method object\\:\\:published\\(\\)\\.$#"
			count: 1
			path: joomla/libraries/yireo/view/list/default.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class FalangManager\\.$#"
			count: 1
			path: joomla/plugins/magebridgestore/falang/falang.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class JoomfishManager\\.$#"
			count: 1
			path: joomla/plugins/magebridgestore/joomfish/joomfish.php

		-
			message: "#^Access to an undefined property Yireo_MageBridge_Model_Attribute_Api\\:\\:\\$_attributeSetCollection\\.$#"
			count: 1
			path: magento/app/code/community/Yireo/MageBridge/Model/Attribute/Api.php

		-
			message: "#^Access to an undefined property Yireo_MageBridge_Model_Client\\:\\:\\$coreModel\\.$#"
			count: 2
			path: magento/app/code/community/Yireo/MageBridge/Model/Client.php
