/**
 * Joomla! component MageBridge
 *
 * @author Yireo
 * @package MageBridge
 * @copyright Copyright 2016
 * @link https://www.yireo.com/
 */

td.key {
    font-weight: normal !important;
    width: 200px !important;
}

td.value {
    width: 300px;
}

td.status {
    width: 30px;
}

h4.fieldgroup {
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}

input {
    padding: 2px;
}

div.controls div.controls {
    margin-left: 0;
}

span.fieldgroup label {
    font-weight: bold;
    font-size: 130%;
}

