name: Label Check

on:
  pull_request:
    types: [opened, reopened, synchronize, edited, labeled, unlabeled]

permissions:
  contents: read
  pull-requests: write

jobs:
  validate:
    name: Auto Label and Validate
    runs-on: ubuntu-latest
    steps:
      - name: Apply labels
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: actions/labeler@v5

      - name: Check labels
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          labels: breaking,feature,enhancement,bug,fix,refactor,chore,maintenance,dependencies,github_actions,documentation
