name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: ctype, curl, dom, gd, hash, iconv, intl, json, libxml, mbstring, pdo, simplexml, soap, zip
          coverage: none
      - name: Validate composer.json and composer.lock
        run: composer validate --strict
      - name: Set up Composer
        run: composer config -g repositories.firegento composer https://packages.firegento.com
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v5
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
      - name: Bundle extensions
        run: ./bundle.sh
      - name: Pre-release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') && (contains(github.ref,'dev') || contains(github.ref,'beta') || contains(github.ref,'alpha') || contains(github.ref,'rc'))
        with:
          prerelease: true
          generate_release_notes: true
          files: |
            dist/pkg_magebridge.zip
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/') && !(contains(github.ref,'dev') || contains(github.ref,'beta') || contains(github.ref,'alpha') || contains(github.ref,'rc'))
        with:
          generate_release_notes: true
          files: |
            dist/pkg_magebridge.zip
